<div class="weapon-line-1">
    <div class="block">
        <input id="weaponName1"
               type="text"
               formControlName="weaponName1"
               class="small-input">
        <label for="weaponName1"
               class="small-input">BROŃ</label>
    </div>
    <div class="block">
        <input id="weaponType1"
               type="text"
               formControlName="weaponType1"
               class="small-input">
        <label for="weaponType1"
               class="small-input">RODZAJ</label>
    </div>
</div>
<div class="weapon-line-2">
    <div class="block">
        <input id="range1"
               type="text"
               formControlName="range1"
               class="small-input">
        <label for="range1"
               class="small-input">ZASIĘG</label>
    </div>
    <div class="block">
        <input id="damage1"
               type="text"
               formControlName="damage1"
               class="small-input">
        <label for="damage1"
               class="small-input">OBRAŻENIA</label>
    </div>
    <div class="block damage">
        <div class="damage-line">
            <div class="block">
                <input type="checkbox"
                       id="specialDamage11">
                <label for="specialDamage11"></label>
            </div>
            <div class="block">
                <input type="checkbox"
                       id="specialDamage12">
                <label for="specialDamage12"></label>
            </div>
            <div class="block">
                <input type="checkbox"
                       id="specialDamage13">
                <label for="specialDamage13"></label>
            </div>
            <div class="block">
                <input type="checkbox"
                       id="specialDamage14">
                <label for="specialDamage14"></label>
            </div>
            <div class="block">
                <input type="checkbox"
                       id="specialDamage15">
                <label for="specialDamage15"></label>
            </div>
            <div class="block">
                <input type="checkbox"
                       id="specialDamage16">
                <label for="specialDamage16"></label>
            </div>
        </div>
        <label for="specialDamage1"
               class="small-input">OBRAŻENIA SPECJALNE</label>
    </div>
</div>