<div class="content"
     role="main">

    <div class="card-container">
        <a class="img-card">
        </a>
        <a class="card">
            <h1 class="pretty-font">
                <span>HI MARK</span>
            </h1>
            <ul class="desc-font">
                <p>EMILIAN SORNAT</p>&nbsp;
                <li>Zapalony światotwórca, administrator grupy
                    <a href="https://www.facebook.com/groups/krysia"
                       target="_blank"
                       class="hyperlink"><b> Krytyka Światotwórcza</b></a>
                </li>&nbsp;
                <li>Aspirujący pisarz</li>&nbsp;
                <li>Mistrz gry i gracz</li>&nbsp;
                <li>Prelegent konwentowy</li>&nbsp;
                <li>Materialista, mgr inż. materiałow specjalizacja polimery, dobry materiał na męża</li>
            </ul>
        </a>
    </div>
</div>
<div class="content">
    <div class="card-container">
        <div class="card-desc ">
            <div class="desc">
                ĆMY
            </div>
            <a class="img-card audio"
               href="https://www.youtube.com/watch?v=RFd6lUXGKfU"
               target="_blank"
               title="Ćmy z antalogii NanoFantazje1.0 do posłuchania">
            </a>
        </div>

        <div class="card-desc ">
            <div class="desc">
                SILMARIS
            </div>
            <a class="img-card sil"
               href="http://silmaris.pl/numer-11/"
               target="_blank"
               title="Piach w magazynie Silmaris">
            </a>
        </div>
        <div class="card-desc ">
            <div class="desc">
                ABYSSOS
            </div>
            <a class="img-card abyssos"
               href="https://docplayer.pl/113288137-Abyssos-opowiadania-poezja.html"
               target="_blank"
               title="Istnienie w Abyssos">
            </a>
        </div>
    </div>
</div>