<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<link rel="stylesheet/less"
      type="text/css"
      href="styles.less" />
<script type="text/javascript"></script>

<!-- Toolbar -->
<div class="toolbar"
     role="banner">
  <img class="logoAzylen"
       width="40"
       alt="Azylen Logo"
       src="../assets/img/asylion.jpg"
       [routerLink]="['/']">
  <span class="toolbar-text"
        [routerLink]="['/']">AAAAAAAA</span>
  <div class="spacer"></div>
  <div>
    <ul clsss="horizontal-menu">
      <li>
        <a class="pretty-font"
           [routerLink]="['/cons']">CONY</a>
      </li>
      &hearts;
      <li>
        <a class="pretty-font"
           [routerLink]="['/word-walls']">SŁOWOMURY</a>
      </li>
      <li>
        <a class="pretty-font"
           [routerLink]="['/rpg']">RPG</a>
      </li>
      <li>
        <a class="pretty-font"
           href="https://www.facebook.com/groups/krysia"
           target="_blank">KrySia</a>
      </li>
    </ul>
  </div>
</div>

<div class="content"
     role="main">

  <div class="card-container">
    <a class="card"
       target="_blank"
       rel="noopener"
       href="https://angular.io/tutorial">
      <span>Azylen</span>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       href="https://angular.io/cli">
      <span>Soultaker</span>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       href="https://blog.angular.io/">
      <span>Surpris</span>
    </a>

  </div>
  <!-- Footer -->
  <footer>
    <div class="footerContent">
      <p>
        &copy;{{year}} &hearts; Mariś
      </p>
    </div>
  </footer>
  <router-outlet></router-outlet>