<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<link rel="stylesheet/less"
      type="text/css"
      href="styles.less" />
<script type="text/javascript"></script>

<div class="toolbar"
     role="banner">
  <img class="logoAzylen"
       width="40"
       alt="Azylen Logo"
       src="../assets/img/asylion.jpg"
       [routerLink]="['/']">
  <span class="toolbar-text"
        [routerLink]="['/']">DON SORNACCI</span>
  <div class="spacer"></div>
  <div>
    <ul clsss="horizontal-menu">
      <li>
        <a class="home-menu pretty-font"
           [routerLink]="['/']"
           routerLinkActive="active-link">HOME</a>
      </li>
      <li>
        <a class="pretty-font"
           [routerLink]="['/cons']"
           routerLinkActive="active-link">CONY</a>
      </li>
      <li>
        <a class="pretty-font"
           [routerLink]="['/rpg']"
           routerLinkActive="active-link">RPG</a>
      </li>
      <li>
        <a class="pretty-font"
           [routerLink]="['/word-walls']"
           routerLinkActive="active-link">INFO DUMPY</a>
      </li>
    </ul>
  </div>
</div>


<footer>
  <div class="footerContent">
    <p>
      &copy;{{year}} &hearts; Mariś
    </p>
  </div>
</footer>
<router-outlet></router-outlet>